<a href="https://colab.research.google.com/github/nceder/qpb4e/blob/main/code/Chapter%2004/Chapter_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4 The absolute basics

# 4.3 Variables and assignments

In [2]:
a = [1, 2, 3]
b = a
c = b
b[1] = 5
print(a, b, c)

[1, 5, 3] [1, 5, 3] [1, 5, 3]

In [3]:
a = 1
b = a
c = b
b = 5
print(a, b, c)

1 5 1

In [4]:
x = "Hello"
print(x)

Hello

In [5]:
x = 5
print(x)

5

In [6]:
del x
print(x)

NameError: name 'x' is not defined

# 4.4 Optional type hints in Python

In [7]:
def add_ints(x: int, y: int) -> int:      #A
     return x + y

p: int = 2.3                               #B
z = add_ints(1, 2)
w = add_ints(1.5, 2.5)                     #C

# 4.5 Expressions

In [8]:
x = 3
y = 5
z = (x + y) / 2

### Try This: variables and expressions
In the cell below, create some variables. What happens when you try to put spaces, dashes, or other nonalphanumeric characters in the variable name? Play around with a few complex expressions, such as x = 2 + 4 * 5 - 6 / 3. Use parentheses to group the numbers in different ways, and see how that changes the result compared with the original ungrouped expression.

In [9]:
# enter you experiments in this cell

# 4.6 Strings

In [10]:
x = "\tThis string starts with a \"tab\"."
x = "This string contains a single backslash(\\)."

In [11]:
x = "Hello, World"
x = 'Hello, World'

In [12]:
x = "Don't need a backslash"
x = 'Can\'t get by without a backslash'
x = "Backslash your \" character!"
x = 'You can leave the " alone'

In [13]:
# This Python code will cause an ERROR -- you can't
# split the string across two lines.
x = "This is a misguided attempt to
put a newline into a string without using backslash-n"

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-13-89072b650f20>, line 3)

In [14]:
x = """Starting and ending a string with triple " or ' characters
permits embedded newlines, and the use of " and ' without
backslashes"""

# 4.7 Numbers

In [15]:
5 + 2 - 3 * 2

1

In [16]:
5 / 2          # floating-point result with normal division

2.5

In [17]:
5 / 2.0        # also a floating-point result

2.5

In [18]:
5 // 2         # integer result with truncation when divided using '//'

2

In [19]:
30000000000    # This would be too large to be an int in many languages

30000000000

In [20]:
30000000000 * 3

90000000000

In [21]:
30000000000 * 3.0

90000000000.0

In [22]:
2.0e-8         # Scientific notation gives back a float

2e-08

In [23]:
3000000 * 3000000

9000000000000

In [24]:
int(200.2)

200

In [25]:
int(2e2)

200

In [26]:
float(200)

200.0

## 4.7.4 Complex numbers

In [27]:
(3+2j)

(3+2j)

In [28]:
3 + 2j - (4+4j)

(-1-2j)

In [29]:
(1+2j) * (3+4j)

(-5+10j)

In [30]:
1j * 1j

(-1+0j)

In [31]:
z = (3+5j)
z.real

3.0

In [32]:
z.imag

5.0

## 4.7.5 Advanced complex-number functions

In [33]:
import cmath
cmath.sqrt(-1)

1j

### Try This: Manipulating strings and numbers
In the cell below, create some string and number variables (integers, floats, and complex numbers). Experiment a bit with what happens when you do operations with them, including across types. Can you multiply a string by an integer, for example, or by a float or complex number? Also, load the math module and try out a few of the functions; then load the cmath module and do the same. What happens if you try to use one of those functions on an integer or float after loading the cmath module? How might you get the math module functions back?

In [ ]:
# enter you experiments in this cell

# 4.9 Getting input from the user

In [36]:
name = input("Name? ")

Name? Naomi

In [37]:
print(name)

Naomi

In [ ]:
age = int(input("Age? "))

Age? 28

In [ ]:
print(age)

28

### Try this: Getting input
Experiment with the input() function to get string and integer input. Using code similar to the previous code, what is the effect of not using int() around the call to input()for integer input? Can you modify that code to accept a float—say, 28.5? What happens if you deliberately enter the wrong type of value? Examples include a float in which an integer is expected and a string in which a number is expected—and vice versa.

In [ ]:
# enter you experiments in this cell

###Quick Check: Pythonic style
Which of the following variable and function names do you think are not good Pythonic style? Why?

`bar(), varName, VERYLONGVARNAME, foobar, longvarname, foo_bar(), really_very_long_var_name`

* `bar(`: Not good, not legal, includes symbol
* `varName`: Not good, mixed case
* `VERYLONGVARNAME`: Not good, long, all caps, hard to read
* `foobar`: Good
* `longvarname`: Good, although underscores to separate words would be better
* `foo_bar()`: Good
* `really_very_long_var_name`: Long, but good if all of the words are needed, perhaps to distinguish among similar variables