<a href="https://colab.research.google.com/github/nceder/qpb4e/blob/main/code/Chapter%2024/Chapter_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect("datafile.db")

In [2]:
cursor = conn.cursor()
cursor

In [3]:
cursor.execute("create table people (id integer primary key, name text, count integer)")
cursor.execute("insert into people (name, count) values ('Bob', 1)")
cursor.execute("insert into people (name, count) values (?, ?)",
               ("Jill", 15))
conn.commit()

In [7]:
cursor.execute("insert into people (name, count) values (:username, :usercount)",
                  {"username": "Joe", "usercount": 10})

In [8]:
result = cursor.execute("select * from people")
print(result.fetchall())

[(1, 'Bob', 1), (2, 'Jill', 15), (3, 'Joe', 10)]

In [9]:
result = cursor.execute("select * from people where name like :name",
                        {"name": "bob"})
print(result.fetchall())

[(1, 'Bob', 1)]

In [10]:
cursor.execute("update people set count=? where name=?", (20, "Jill"))
result = cursor.execute("select * from people")
print(result.fetchall())

[(1, 'Bob', 1), (2, 'Jill', 20), (3, 'Joe', 10)]

In [11]:
result = cursor.execute("select * from people")
for row in result:
    print(row)

(1, 'Bob', 1)
(2, 'Jill', 20)
(3, 'Joe', 10)

In [12]:
cursor.execute("update people set count=? where name=?", (20, "Jill"))
conn.commit()
conn.close()

In [13]:
from sqlalchemy import create_engine, select, MetaData, Table, Column, Integer, String
from sqlalchemy.orm import sessionmaker

In [ ]:
dbPath = 'datafile2.db'
engine = create_engine('sqlite:///%s' % dbPath)
metadata = MetaData(engine)
people  = Table('people', metadata,
                Column('id', Integer, primary_key=True),
                Column('name', String),
                Column('count', Integer),
               )
Session = sessionmaker(bind=engine)
session = Session()
metadata.create_all(engine)

In [ ]:
people_ins = people.insert().values(name='Bob', count=1)
str(people_ins)

'INSERT INTO people (name, count) VALUES (?, ?)'

In [ ]:
session.execute(people_ins)

<sqlalchemy.engine.result.ResultProxy object at 0x7f126c6dd438>

In [ ]:
session.commit()

In [ ]:
session.execute(people_ins, [
    {'name': 'Jill', 'count':15},
    {'name': 'Joe', 'count':10}
])

<sqlalchemy.engine.result.ResultProxy object at 0x7f126c6dd908>

In [ ]:
session.commit()
result = session.execute(select([people]))
for row in result:
    print(row)

(1, 'Bob', 1)
(2, 'Jill', 15)
(3, 'Joe', 10)

In [ ]:
result = session.execute(select([people]).where(people.c.name == 'Jill'))
for row in result:
    print(row)

(2, 'Jill', 15)

In [ ]:
result = session.execute(people.update().values(count=20).where (people.c.name == 'Jill'))
session.commit()
result = session.execute(select([people]).where(people.c.name == 'Jill'))
for row in result:
    print(row)

(2, 'Jill', 20)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
class People(Base):
    __tablename__ = "people"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    count = Column(Integer)

results = session.query(People).filter_by(name='Jill')
for person in results:
    print(person.id, person.name, person.count)

2 Jill 20

In [ ]:
new_person = People(name='Jane', count=5)
session.add(new_person)
session.commit()
results = session.query(People).all()
for person in results:
    print(person.id, person.name, person.count)

1 Bob 1
2 Jill 20
3 Joe 10
4 Jane 5

In [ ]:
jill = session.query(People).filter_by(name='Jill').first()
jill.name

'Jill'

In [ ]:
jill.count = 22
session.add(jill)
session.commit()
results = session.query(People).all()
for person in results:
    print(person.id, person.name, person.count)

1 Bob 1
2 Jill 22
3 Joe 10
4 Jane 5

In [ ]:
jane = session.query(People).filter_by(name='Jane').first()
session.delete(jane)
session.commit()
jane = session.query(People).filter_by(name='Jane').first()
print(jane)

None

In [ ]:
! pip install alembic
! alembic init alembic

In [ ]:
sqlalchemy.url = driver://user:pass@localhost/dbname

sqlalchemy.url = sqlite:///datafile.db

> alembic revision -m "create an address table"
Generating /home/naomi/qpb_testing/alembic/versions/384ead9efdfd_create_a_test_address_table.py ... done

In [ ]:
print(engine.table_names())

['people']

In [ ]:
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 384ead9efdfd, create an address table

In [ ]:
engine.table_names()

['alembic_version', 'people', 'address'

In [ ]:
! alembic downgrade -1
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running downgrade 384ead9efdfd -> , create an address table

In [ ]:
import redis
r = redis.Redis(host='localhost', port=6379)

In [ ]:
r.keys()

[]

In [ ]:
r.set('a_key', 'my value')

True

In [ ]:
r.keys()

[b'a_key']

In [ ]:
v = r.get('a_key')
v

b'my value'

In [ ]:
r.incr('counter')

1

In [ ]:
r.get('counter')

b'1'

In [ ]:
r.incr('counter')

2

In [ ]:
r.get('counter')

b'2'

In [ ]:
r.rpush("words", "one")

1

In [ ]:
r.rpush("words", "two")

2

In [ ]:
r.lrange("words", 0, -1)

[b'one', b'two']

In [ ]:
r.rpush("words", "three")

3

In [ ]:
r.lrange("words", 0, -1)

[b'one', b'two', b'three']

In [ ]:
r.llen("words")

3

In [ ]:
r.lpush("words", "zero")

4

In [ ]:
r.lrange("words", 0, -1)

[b'zero', b'one', b'two', b'three']

In [ ]:
r.lrange("words", 2, 2)

[b'two']

In [ ]:
r.lindex("words", 1)

b'one'

In [ ]:
r.lindex("words", 2)

b'two'

In [ ]:
r.setex("timed", "10 seconds", 10)

True

In [ ]:
r.pttl("timed")

7165

In [ ]:
r.pttl("timed")

5208

In [ ]:
r.pttl("timed")

1542

In [ ]:
r.pttl("timed")

In [ ]:
from pymongo import MongoClient
mongo = MongoClient(host='localhost', port=27017)   #A

In [ ]:
import datetime
a_document = {'name': 'Jane',
              'age': 34,
              'interests': ['Python', 'databases', 'statistics'],
              'date_added': datetime.datetime.now()
}
db = mongo.my_data     #A
collection = db.docs   #B
collection.find_one()  #C
db.collection_names()

In [ ]:
collection.insert(a_document)

ObjectId('59701cc4f5ef0516e1da0dec')    #A

In [ ]:
db.collection_names()

['docs']

In [ ]:
collection.find_one()    #A

{'_id': ObjectId('59701cc4f5ef0516e1da0dec'), 'name': 'Jane', 'age': 34, 'interests': ['Python', 'databases', 'statistics'], 'date_added': datetime.datetime(2017, 7, 19, 21, 59, 32, 752000)}

In [ ]:
from bson.objectid import ObjectId
collection.find_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')})  #B

{'_id': ObjectId('59701cc4f5ef0516e1da0dec'), 'name': 'Jane',
'age': 34, 'interests': ['Python', 'databases',
'statistics'], 'date_added': datetime.datetime(2017,
7, 19, 21, 59, 32, 752000)}

In [ ]:
collection.update_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')}, {"$set": {"name":"Ann"}})       #C

<pymongo.results.UpdateResult object at 0x7f4ebd601d38>

In [ ]:
collection.find_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')})

{'_id': ObjectId('59701cc4f5ef0516e1da0dec'), 'name': 'Ann', 'age': 34, 'interests': ['Python', 'databases', 'statistics'], 'date_added': datetime.datetime(2017, 7, 19, 21, 59, 32, 752000)}

In [ ]:
collection.replace_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')}, {"name":"Ann"})                 #D

<pymongo.results.UpdateResult object at 0x7f4ebd601750>

In [ ]:
collection.find_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')})

{'_id': ObjectId('59701cc4f5ef0516e1da0dec'), 'name': 'Ann'}

In [ ]:
collection.delete_one({"_id":ObjectId('59701cc4f5ef0516e1da0dec')}) #E

<pymongo.results.DeleteResult object at 0x7f4ebd601d80>

In [ ]:
collection.find_one()

In [ ]:
db.collection_names()

['docs']

In [ ]:
collection.drop()
db.collection_names()

[]